# Ignore environment files and directories
.env
.venv/
venv/
lakeview_dashboard/bkp/

# Ignore cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache

# Ignore build directories
build/
dist/

# Ignore egg-info directories
*.egg-info/

# Ignore Jupyter and IPython related files
.ipynb_checkpoints/
*.ipynb
.ipython/
.jupyter/

# Ignore macOS specific files
.DS_Store
01ef6a4327221667b44f87de263f6c71.json
scratch.json
